{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block page_title %}Followers{% endblock %}
{% block page_subtitle %}People who follow you{% endblock %}

{% block content_classes %}grid gap-6 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4{% endblock %}

{% block content %}
    {% for user in followers %}
        <div class="w-full bg-white rounded-xl shadow-sm border border-gray-200 overflow-hidden p-4 flex flex-col items-start justify-between transition-all duration-300 hover:shadow-lg">
            <div class="w-full flex flex-row items-start justify-between">
                <div class="w-full flex items-center">
                    <img class="self-start w-10 h-10 rounded-full mr-3" src="https://images.pexels.com/photos/14785828/pexels-photo-14785828.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="{{ user.full_name }}">
                    <div>
                        <a href="{% url 'profile:profile' user.username %}" class="text-gray-800 hover:underline text-base font-semibold">{{ user.full_name }}</a>
                        <p class="text-gray-600 text-sm truncate line-clamp-3 text-wrap max-w-72" >@{{ user.username }}</p>
                    </div>
                </div>
                <a href="{% url 'profile:follow' user.pk %}" class="freeze-button inline-block h-max bg-blue-600 text-white hover:bg-blue-700 text-xs font-medium px-3 py-1.5 rounded-full {% if user.is_following %}bg-red-600 hover:bg-red-700{% endif %}">
                    {% if user.is_following %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </a>
            </div>
            <div class="w-full flex start mt-6 items-center">
                <span class="text-xs text-gray-500">Followed {{ user.since|naturaltime }}</span>
            </div>
        </div>
    {% empty %}
        <div class="col-span-full">
            <div class="text-center py-12 bg-white border border-gray-200 rounded-xl shadow-sm">
                <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
                <h3 class="mt-2 text-sm font-medium text-gray-900">No followers yet</h3>
                <p class="mt-1 text-sm text-gray-500">Share your content and engage with others to gain followers!</p>
                <div class="mt-6">
                    <a href="{% url 'blog:create_post' %}" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Create a Post
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %} 