{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load static %}

{% block title %}Suggested Writers - Zenset{% endblock title %}

{% block content %}
<div class="mx-auto py-24">
    <div class="w-full pb-24 mb-24 border-b border-gray-200">
        <h1 class="max-w-screen-2xl px-4 mx-auto text-3xl font-bold">Suggested Authors {{page_obj.has_previous}} {{page_obj.has_next}}</h1>
    </div>

    <div class="max-w-screen-2xl mx-auto px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6 mb-24">
        {% for author in page_obj %}
            <article class="p-4 flex flex-row bg-white rounded-xl shadow-sm gap-6 border border-gray-200 overflow-hidden">
                <!-- Content -->
                <div class="w-full flex flex-col">
                    <!-- Meta Info -->
                    <div class="flex items-start justify-between">
                        <div class="flex items-start gap-3">
                            {% if author.image %}
                                <img src="{{ author.image.url }}"
                                    alt="{{ author.full_name }}" 
                                    class="w-10 h-10 rounded-full flex-shrink-0 object-cover border-2 border-white shadow-sm">
                            {% else %}
                                <img src="{% static 'images/user_image.jpg' %}"
                                    alt="Placeholder Image" 
                                    class="w-10 h-10 rounded-full flex-shrink-0 object-cover border-2 border-white shadow-sm">
                            {% endif %}
                            <div>
                                <a href="{% url 'profile:profile' username=author.username %}" class="text-sm hover:underline font-semibold text-gray-900">{{ author.full_name }}</a>
                                <span class="text-sm text-gray-500 line-clamp-3">
                                    {% if not author.bio and not author.tagline %}
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod aliquam fugit cumque harum exercitationem repudiandae rerum voluptates est atque ipsam!
                                    {% else %}
                                        {{ author.bio|truncatechars:100|default:author.tagline|truncatechars:100 }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Follow Button -->
                <a href="{% url 'profile:follow' user.id %}" class="inline-block h-max bg-blue-600 text-white hover:bg-blue-700 text-xs font-medium px-3 py-1.5 rounded-full">
                    Follow
                </a>
            </article>
        {% empty %}
            <p class="text-center text-gray-600">No suggested writers found.</p>
        {% endfor %}
    </div>

    <!-- --- Pagination --- -->
    <div class="max-w-screen-2xl w-full px-4 mx-auto flex items-center justify-end">
        {% if previous_page %}
            <a href="?page={{ previous_page }}" class="flex items-center justify-center px-4 h-10 me-3 text-base font-medium text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 ">
                <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                </svg>
                Previous
            </a>
        {% endif %}
        {% if next_page %}
            <a href="?page={{ next_page }}" class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 ">
                Next
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        {% endif %}
    </div>
</div>
{% endblock content %}
